body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fA;
  min-height: 100vh;
  padding: 4.5rem 0 1rem;
}

/**
 * Navbar
 */

.app-navbar {
  background-color: #fff;
  height: 4rem;
}

/**
 * Home
 */

.home-content {
  border-radius: 8px;
  min-height: calc(100vh - 4rem - 5rem); /* 100vh - navbar - content top margin */
}

.home-tabs {
  border-bottom: 0;
}

.home-tabs .nav-item.nav-link {
  border: 0;
  border-bottom: 2px solid transparent;
  text-align: center;
  width: 50%;
  padding: 1rem 1.5rem;
  color: #5a5a5a;
}

.home-tabs.nav-tabs .nav-item.show .nav-link,
.home-tabs.nav-tabs .nav-link.active {
  border-bottom-color:#4285f4;
  color: #4285F4;
  font-weight: 500;
}

.home-poll {
  width: calc(50% - 1rem);
}

.home-poll .card-footer {
  background-color: transparent;
  padding: 0;
  height: 3rem;
}
.home-poll .card-footer a {
  text-decoration: none;
  color: #4285F4;
  line-height: 3rem;
}

.poll-avatar {
  height: 64px;
  width: 64px;
  display: inline-block;
  border-radius: 50%;
}

.media-title {
  font-weight: 300;
}

.media-title small {
  opacity: 0.5;
  margin-left: .5rem;
}

/**
 * New Question
 */

.newq-content form {
  border-radius: 8px;
}

.newq-title {
  font-weight: 300;
  opacity: .54;
}

.newq-subtitle,
.questionf-subtitle,
.poll-result-subtitle {
  font-weight: 400;
  opacity: .54;
}

.newq-content .question-control {
  height: 54px;
  position: relative;
  background-color: #f2f3f5;
  border-color: transparent;
  border-bottom: 2px solid transparent;
  box-shadow: none;
}

.newq-content .question-control:focus {
  border-bottom-color: #4285F4;
}

.newq-content .question-control::placeholder {
  color: rgba(0,0,0,.27);
  opacity: 1;
}

/**
 * Question Form
 */

.questionf-title,
.poll-result-title,
.leader-title {
  font-weight: 300;
}

.question-control-group {
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.125);
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
  position: relative;
  text-align: left;
}


.question-control-group input ~ .question-control-checkmark {
  background-image: url("./icons/circle_outline-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  display: inline-block;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0 16px;
}

.question-control-group input ~.question-control-text {
  font-weight: 500;
}

.question-control-group input:checked ~ .question-control-checkmark {
  background-image: url("./icons/check_circle_outline-24px.svg");
}

.question-control-group input ~ .question-control-border {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 100%;
  right: 0;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  transition: border .2s ease-in-out;
  z-index: 2;
}

.question-control-group input:checked ~ .question-control-border {
  border-color: #4285F4;
}

.question-control-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.question-control-group input:focus ~ .question-control-border {
  border-color: #4285F4;
}

/**
 * Poll Result
 */

.poll-result-inner {
  border-radius: 8px;
}

.poll-result-box {
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.125);
  padding: 0 1rem .5rem;
}

.poll-result-box.active {
  border: 2px solid #4285F4;
}

.poll-box-percent {
  font-weight: 700;
  font-size: 1.3rem;
}

.poll-box-voted {
  display: inline-block;
  padding: .2rem .7rem;
  background-color: #E8F0FE;
  color: #4285F4;
  border-radius: 0 0 8px 8px;
}

/**
 * Leaderboard
 */

.leader-card {
  border-radius: 8px;
  width: calc(33% - 24px);
}

.leader-score {
  opacity: .8;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.leader-card small {
  font-size: 75%;
  text-transform: uppercase;
  opacity: .74;
  letter-spacing: 0.085rem;
}

.trophy.gold {
  fill: #FFBF00;
}

.trophy.silver {
  fill:#DBDDE0;
}

.trophy.bronze {
  fill:#E7CFAE;
}

/**
 * Login
 */

.login-content-inner {
  border-radius: 8px;
}

.login-content .logo {
  background-size: 32px;
}

.login-title {
  opacity: .64;
}

.login-content .poll-avatar {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.login-content .poll-avatar:hover,
.login-content .poll-avatar:focus {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/**
 * Utils
 */

.user1, .user2, .user3 {
  background-image: url("./icons/user1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.user2 {
  background-image: url("./icons/user2.png");
}

.user3 {
  background-image: url("./icons/user3.png");
}

.logo {
  background-image: url("./icons/question_answer-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.flat-button,
.flat-button:hover,
.flat-button:active,
.flat-button:focus {
  border: 0 !important;
  border-radius: 0;
  border-top: 1px solid rgba(0,0,0,.125) !important;
  height: 3.5rem;
  color: #4285F4 !important;
  background-color: transparent !important;
  box-shadow: none;
}

.flat-button:active,
.flat-button:focus {
  outline: auto;
}

.text-muted {
  opacity: .60;
}

.poll-result-box .progress {
  height: .5rem;
  margin: .5rem 0 .1rem;
}

.poll-result-box .progress-bar {
  background-color: #4285F4;
}