body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 4.5rem 0 1rem;
}

.loading {
  height: 5px;
  position: absolute;
  top: 0;
  background-color: #4285f4;
  z-index: 100000;
}

/**
 * Navbar
 */

.app-navbar {
  background-color: #fff;
  height: 4rem;
}

/**
 * Home
 */

.home-content {
  border-radius: 8px;
  min-height: calc(
    100vh - 4rem - 5rem
  ); /* 100vh - navbar - content top margin */
}

.home-tabs {
  border-bottom: 0;
}

.home-tabs .nav-item.nav-link {
  border: 0;
  border-bottom: 2px solid transparent;
  text-align: center;
  width: 50%;
  padding: 1rem 1.5rem;
  color: #5a5a5a;
}

.home-tabs.nav-tabs .nav-item.show .nav-link,
.home-tabs.nav-tabs .nav-link.active {
  border-bottom-color: #4285f4;
  color: #4285f4;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}

.home-poll {
  width: calc(50% - 1rem);
}

.home-poll .card-footer {
  background-color: transparent;
  padding: 0;
  height: 3rem;
}
.home-poll .card-footer a {
  text-decoration: none;
  color: #4285f4;
  line-height: 3rem;
}

.poll-avatar,
.navbar-user-avatar {
  height: 64px;
  width: 64px;
  min-width: 64px;
  min-height: 64px;
  display: inline-block;
  border-radius: 50%;
}

.navbar-user-avatar {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  margin-left: .54rem;
}

.media-title {
  font-weight: 300;
}

.media-title small {
  opacity: 0.5;
  margin-left: 0.5rem;
}

/**
 * New Question
 */

.newq-content form,
.newu-content form {
  border-radius: 8px;
}

.newq-title {
  font-weight: 300;
  opacity: 0.54;
}

.newq-subtitle,
.questionf-subtitle,
.login-subtitle,
.newu-subtitle,
.poll-result-subtitle {
  font-weight: 400;
  opacity: 0.54;
}

.newq-content .question-control,
.newu-content .newu-control {
  height: 54px;
  position: relative;
  background-color: #f2f3f5;
  border-color: transparent;
  border-bottom: 2px solid transparent;
  box-shadow: none;
}

.newq-content .question-control:focus,
.newu-content .newu-control:focus {
  border-bottom-color: #4285f4;
}

.newq-content .question-control::placeholder,
.newu-content .newu-control::placeholder {
  color: rgba(0, 0, 0, 0.27);
  opacity: 1;
}

/**
 * Question Form
 */

.questionf-content form {
  border-radius: 8px;
}

.questionf-title,
.poll-result-title,
.leader-title {
  font-weight: 300;
}

.question-control-group,
.avatar-control-group {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.avatar-control-group {
  width: 68px;
  height: 68px;
  min-height: 68px;
  min-width: 68px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  border-color: transparent;
}

.avatar-control-group .poll-avatar {
  position: absolute;
  left: 1px;
  top: 1px;
}


.question-control-group input ~ .question-control-checkmark,
.avatar-control-group input ~ .avatar-control-checkmark {
  background-image: url("./icons/circle_outline-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  display: inline-block;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0 16px;
}

.avatar-control-group input ~ .avatar-control-checkmark {
  background-image: url("./icons/check_circle-24px.svg");
  position: absolute;
  top: -9px;
  right: -24px;
  visibility: hidden;
}

.question-control-group input ~ .question-control-text {
  font-weight: 500;
}

.question-control-group input:checked ~ .question-control-checkmark,
.avatar-control-group input:checked ~ .avatar-control-checkmark {
  background-image: url("./icons/check_circle_outline-24px.svg");
}

.avatar-control-group input:checked ~ .avatar-control-checkmark {
  background-image: url("./icons/check_circle-24px.svg");
  visibility: visible;
  z-index: 2;
}

.question-control-group input ~ .question-control-border,
.avatar-control-group input ~ .avatar-control-border {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  right: 0px;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  transition: border 0.2s ease-in-out;
  z-index: 2;
}

.avatar-control-group input ~ .avatar-control-border {
  border-radius: 50%;
}

.question-control-group input:checked ~ .question-control-border,
.avatar-control-group input:checked ~ .avatar-control-border {
  border-color: #4285f4;
}

.question-control-group input,
.avatar-control-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.question-control-group input:focus ~ .question-control-border,
.avatar-control-group input:focus ~ .avatar-control-border {
  border-color: #4285f4;
}

/**
 * Poll Result
 */

.poll-result-inner {
  border-radius: 8px;
}

.poll-result-box {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0 1rem 0.5rem;
  position: relative;
}

.poll-result-box.active:before {
  content: "YOUR VOTE";
  display: inline-block;
  padding: 0.2rem 0.7rem;
  background-color: #e8f0fe;
  color: #4285f4;
  border-radius: 0 0 8px 8px;
  font-size: 85%;
}

.poll-result-box.active {
  border: 2px solid #4285f4;
}

.poll-box-percent {
  font-weight: 700;
  font-size: 1.3rem;
}

/**
 * Leaderboard
 */

.leader-card {
  border-radius: 8px;
  width: calc(33% - 24px);
}

.leader-score {
  opacity: 0.8;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.leader-card small {
  font-size: 75%;
  text-transform: uppercase;
  opacity: 0.74;
  letter-spacing: 0.085rem;
}

.trophy.gold {
  fill: #ffbf00;
}

.trophy.silver {
  fill: #dbdde0;
}

.trophy.bronze {
  fill: #e7cfae;
}

/**
 * Login
 */

.login-content-inner {
  border-radius: 8px;
}

.login-content .logo {
  background-size: 32px;
}

.login-title {
  opacity: 0.64;
}

.login-content .poll-avatar {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.login-content .poll-avatar:hover,
.login-content .poll-avatar:focus {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/**
 * Utils
 */

.user1,
.user2,
.user3,
.new1,
.new2,
.new3 {
  background-image: url("./icons/user1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.user2 {
  background-image: url("./icons/user2.png");
}

.user3 {
  background-image: url("./icons/user3.png");
}

.new1 {
  background-image: url("./icons/new1.png");
}

.new2 {
  background-image: url("./icons/new2.png");
}

.new3 {
  background-image: url("./icons/new3.png");
}

.logo {
  background-image: url("./icons/question_answer-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.flat-button,
.flat-button:hover,
.flat-button:active,
.flat-button:focus {
  border: 0 !important;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  height: 3.5rem;
  color: #4285f4;
  background-color: transparent !important;
  box-shadow: none;
}

.flat-button:active,
.flat-button:focus {
  outline: auto;
}

.flat-button:disabled {
  color: rgba(0, 0, 0, 0.32) !important;
  cursor: not-allowed;
}

.text-muted {
  opacity: 0.6;
}

.poll-result-box .progress {
  height: 0.5rem;
  margin: 0.5rem 0 0.1rem;
}

.poll-result-box .progress-bar {
  background-color: #4285f4;
}
